@model IEnumerable<T2008M_WAP.Models.Product>

@{
    ViewBag.Title = "Products";
}

<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Product</h6>
            <a href="~/Products/Create" style="float:right;margin-top:-18px"><button class="btn btn-success">Create a Category</button></a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Product's Name</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Brand</th>
                            <th width="30">Edit</th>
                            <th width="30">Delete</th>
                            <th width="30">Active</th>
                            
                        </tr>
                    </thead>
            
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name) </td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                            <td> @Html.DisplayFor(modelItem => item.Category.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Brand.Name)</td>

                            <td style="text-align:center">
                                <a href="~/Products/Edit/@item.Id">
                                    <i class="fas fa-fw fa-edit"></i>
                                </a>
                            </td>
                            <td style="text-align:center">
                                <a onlick="return confirm('Are you sure ?')" href="~/Products/Delete/@item.Id">
                                    <i class="fas fa-fw fa-trash"></i>
                                </a>
                            </td>
                            <td>
                                <a href="~/Products/Details/@item.Id">Detail</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>